name: orgro
description: An Org Mode file viewer
version: 2.0.1+216
homepage: https://orgro.org

publish_to: none

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: ^3.38.5

dependencies:
  cached_network_image: ^3.0.0
  dynamic_fonts: ^3.0.0
  # dynamic_fonts:
  #   path: ../dynamic-fonts-flutter
  # file_picker_writable: ^2.1.0
  file_picker_writable:
    # path: ../file_picker_writable
    # Using private fork pending merge of
    # https://github.com/hpoul/file_picker_writable/pull/20
    git:
      url: https://github.com/amake/file_picker_writable.git
      ref: directory-picker
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_svg: ^2.2.0
  flutter_cache_manager: ^3.3.0
  flutter_charset_detector: ^5.0.0
  # flutter_charset_detector:
  #   path: ../flutter_charset_detector/flutter_charset_detector
  flutter_slidable: ^4.0.0
  google_fonts: ^6.0.0
  http: ^1.1.0
  intl: ^0.20.2
  org_flutter: ^10.3.1
  # org_flutter:
    # path: ../org_flutter
  path_provider: ^2.0.9
  share_plus: ^12.0.0
  shared_preferences: ^2.0.0
  url_launcher: ^6.0.0
  petit_bibtex: ^6.1.2
  # petit_bibtex:
    # path: ../petit_bibtex
  open_file: ^3.5.10
  # TODO(aaron): Unpeg pending resolution to
  # https://github.com/jerson/flutter-openpgp/issues/83
  openpgp: 3.10.3
  quick_actions: ^1.1.0
  flutter_local_notifications: ^19.4.2
  flutter_timezone: ^5.0.0
  timezone: ^0.10.1
  workmanager: ^0.9.0+3
  app_settings: ^7.0.0
  wakelock_plus: ^1.4.0
  in_app_purchase: ^3.2.3

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/manual/
    - assets/manual/data/C2/59CE94-D4C8-4C4F-9C9E-9ABE446E7DA3/
    - assets/fonts/
    - assets/test/
    - "assets/test/foo: bar/"
    - assets/licenses/

dependency_overrides:
  # TODO(aaron): Remove override pending resolution to
  # https://github.com/crazecoder/open_file/issues/340
  open_file_ios:
    # path: ../open_file/open_file_ios
    git:
      url: https://github.com/amake/open_file.git
      ref: feature/uiscene-compat
      path: open_file_ios
